<div class="top-bar">
    <img src="assets/whatsloan.png" alt="WhatsLoan" class="logo">
  </div>
<div class="reset-password-container">
    <div class="reset-password-card">
      <h2>Reset password</h2>
      <form (ngSubmit)="sendOTP()">
        <mat-form-field appearance="outline" class="full-width">
          <label classname="">Phone Number</label>
          <input matInput type="text" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" required>
        </mat-form-field>
        
        <button mat-raised-button color="primary" class="send-otp-button" type="submit">Send OTP</button>
      </form>
    </div>
  </div>